@charset "UTF-8";

/*
	Project: Loja Base VTEX
	Author: Original Media
	Version: 2.0
*/

//Frameworks CSS
@import "bourbon";
@import "neat";

//Base
@import "../icons/style.css";

//Modules
@import "../../../../_basemodulesmobile/mixins/_modules";

//Base
@import "../scss/base/_base";

//Components
@import "../scss/components/_components";

//Pages
@import "../scss/pages/_pages";