<footer class="pageFooter"> 
    <div class="pageFooter__t">
        <div class="newsBox">
            <vtex.cmc:newsletterOptIn/>
        </div>
    </div>

    <div class="pageFooter__c">
        <div class="instagram">
            <h2><i class="instagram"></i> femmina no insta</h2>
            <div id="instafeed">
                
            </div>
        </div>

        <div class="sac">       
            <a class="phone" href="tel:+21 3005-9573"><i class="icon-phone"></i> (21) 2345-6789</a>
            <a class="email" href="mailto:atendimento@duloren.com.br">atendimento@duloren.com.br</a>
        </div>    

        <div class="linksInst">
            <a href="/institucional/nossas-lojas" class="linksInst__link">Sobre a Femmina</a>
            <a href="/institucional/nossas-lojas" class="linksInst__link">Dúvidas frequentes</a>
            <a href="/institucional/nossas-lojas" class="linksInst__link">Fale conosco</a>
        </div>

        <div class="box-social">
            <div class="content-redeSocial">
                <a href=""><i class="icon-facebook"></i> facebook</a>
                <a href=""><i class="icon-instagram"></i> instagram</a>
            </div>

            <p>siga a femmina nas redes sociais</p>
        </div>

        <div class="copyright">
            <address>jolimode roupas sa. rua fernandes da cunha, 326 - vigário geral rio de janeiro-cep:21241300-rj cnpj:33016494/0001-51</address>
        </div>                                                                                        
    </div>    
</footer>

<div class="lightbox" id="socialMedia">
    <div class="lightboxOverlay"></div>

    <div class="lightboxContent">
        <div class="lightboxAction">
            <span class="lightboxTriggerClose ico">
                <i class="icon-close"></i>fechar
            </span>
        </div>

        <div class="lightboxContentInner">
            <h2 class="lightbox__title mainTitle">Redes Sociais</h2>

            <div class="socialMediaLinks">
                <a href="#" class="socialMediaLinks__item">
                    <i class="icon-facebook"></i>
                    <span>Facebook</span>
                </a>
                <a href="#" class="socialMediaLinks__item">
                    <i class="icon-twitter"></i>
                    <span>twitter</span>
                </a>
                <a href="#" class="socialMediaLinks__item">
                    <i class="icon-instagram"></i>
                    <span>instagram</span>
                </a>
            </div>
        </div>
    </div>
</div>