<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:vtex="http://www.vtex.com.br/2009/vtex-common" xmlns:vtex.cmc="http://www.vtex.com.br/2009/vtex-commerce" lang="pt-br">
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link href="/arquivos/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <vtex:template id="mobile-commonHead-femmina" />
</head>

<body>  
    <div class="all">
        <vtex:template id="mobile-header-femmina" />
        
        <div id="mainContent">
            <div class="wrapper">
                <vtex.cmc:accountUserProfile />
                <vtex.cmc:accountAddress/>
            </div>
        </div>

        <vtex:template id="mobile-footer-femmina" />
    </div><!-- all -->
    
    <script src="/arquivos/bootstrap.min.js" type="text/javascript"></script>   
    <vtex:template id="mobile-commonBottom-femmina" />
</body>
</html>