<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:vtex="http://www.vtex.com.br/2009/vtex-common" xmlns:vtex.cmc="http://www.vtex.com.br/2009/vtex-commerce" lang="pt-br">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <vtex:metaTags/>
    
    <vtex:template id="mobile-commonHead-femmina" />
</head>

<body>
    <div class="all">
        <vtex:template id="mobile-header-femmina" />
        
        <div id="mainContent">
            <div class="wrapper">
                <div class="topName emptySearch">
                    <h2 class="searchTitle">Nenhum resultado para a sua busca por: <span class="searchTerm"></span></h2>
                </div>
                
                <section class="featuredProducts shelfCarousel">
                    <vtex:contentPlaceHolder id="sugestõe " />
                </section>
                
                <a href="/" class="backHome">Voltar à página inicial</a>
            </div>
        </div>

        <vtex:template id="mobile-footer-femmina" />
    </div><!-- all -->
    
    <vtex:template id="mobile-commonBottom-femmina" />
</body>
</html>