/* ==========================================================================
   Institucional
   ========================================================================== */
.pageTitle{
	//@extend %pageTitle;
}

body.institutional{

	p {
		margin-bottom: 15px;
		text-align: justify;
	}
	.accordionList {
		.accordionList__item {
		    padding: 15px 25px;
		}
	}

	.topName{
		padding: 10px 15px;
		margin-bottom: 25px;
		.pageTitle {
			font: rem(25px) $font1;
			text-transform: uppercase;
			font-weight: bold;
			color: $color5;
		}
	}
	.sectionTitle {
		font: rem(18px) $font1;
		text-transform: uppercase;
		font-weight: bold;
		color: #9b247c;
	}

	&.fale-conosco {
		.sectionTitle {
			margin-bottom: 0;
		}
		.complementaryTitle {
			text-align: center;
			font: 3.5vw $font2;
			color: $color1;
			margin-bottom: 40px;
		}
		.center {
			.page-title {
				text-align: center;
				padding-bottom: 10px;
			}
			.container {
				padding: 10px 20px;
				#contact {
					.row {
						label {
							display: block;
							padding-bottom: 6px;
							font-family: $font2;
							font-size: rem(18px);
							color: #999;
						}
						input,
						textarea {
							width: 100%;
							display: block;
							border: 1px solid #ccc;
							box-shadow: none;
							margin-bottom: 15px;
							border-radius: 2px;
							font-family: $font2;
							color: $black;
							font-size: rem(20px);
						}

						textarea {
							height: 130px;
							padding: 10px;
						}

						#BTEnvia {
							padding: 10px;
							width: 100%;
							font: rem(17px) $font2;
							color: $white;
							background: $color5;
							text-transform: uppercase;
							font-weight: bold;
						}
					}
				}
			}
		}
	}
	&.loja {
		.sectionTitle {
			margin-bottom: 0;
		}
		.seguntTitle {
			text-align: center;
		    padding: 0;
		    padding-bottom: 20px;
		}
	}
}

.coordinates {
	text-align: center;
}


/*nossas lojas*/
.mapPlace {
    width: 100%;
    height: 300px;
    padding:10px;
    margin: 10px 0;
}

.searchResult {
	margin: 15px 0;
}

#gmapGeocoding {
	display: none;
}

#geolocationBtn {
	margin: 20px 0 0;

	&+ span {
		display: block;
		margin: 20px 0;
	}
}

.contentStores {
	display: none;
}

.store {
    display: none;

    
	&.active, &.perto, &.mais-perto {
	    display: block;
	}
	background: #fff;
	padding: 10px;

	h2 {
		font-size: rem(18px);
	}

	.addressStore {
		margin: 10px 0;
	}

	.mapPlace {
		display: none;
	}

	.routeWrap {
		position: relative;
	}

	.routePlace {
		padding-left: 30px;
		max-height: 250px;
		overflow-y: auto;
		position: absolute;
		top: 0;
		right: 0;
		z-index: 100;
		background: #fff;
		display: none;
		
		li {
			margin: 10px 0;
			list-style: decimal;
		}

		&.open {
			right: 0;
		}
	}



	.menu-anchor {
		position: absolute;
		right: 0;
		z-index: 1000;
		display: block;
		width: 30px;
		border-radius: 50%;
		font-size: 0;
		@extend %primaryButton;
		padding: 0;
	    height: 30px;
	    line-height: 30px;
	    top: 5px;

		&:after {
			content: '\e911';
			font-family: 'icomoon';
			display: inline-block;
			font-size: rem(20px);
		}
	}



}
.page-title {
	padding: 10px;
	font: rem(18px) $font1;
    text-transform: uppercase;
    font-weight: bold;
    color: $color5;
}

.srt,
.str {
	padding: 10px;
	p {
		font: rem(12px) $font2;
		color: $color1;
		padding-bottom: 15px;
		font-weight: 600;
		a {
			font-weight: bold;
			color: $black;
			text-decoration: underline;
		}
	}
}

.accordion{
	background: #fff;
	border-radius: 2px;

	li {
		border-bottom: 1px solid $accordionBorderColor;
		padding: 15px;
		position: relative;
		&.is-expanded{
			.accordion-title:after{
				transform: rotate(-90deg);
			}
		}
	}

	.accordion-title{
		font: $accordionTitleFont;
		color: $accordionTitleColor;
		position: relative;
		width: 100%;
		display: inline-block;

		&:after{
			content: "\e901";
			font-family: 'icomoon';
		    speak: none;
		    font-style: normal;
		    font-weight: normal;
		    font-variant: normal;
		    text-transform: none;
		    line-height: 1;
		    /* Better Font Rendering =========== */
		    -webkit-font-smoothing: antialiased;
		    -moz-osx-font-smoothing: grayscale;
			color: $accordionTitleIconColor;
			position: absolute;
			right: 0;
			top: 0;
			transform: rotate(90deg);
		}
	}

	.submenu{
		display: none;
		padding: 10px 0;

		&.active{
			display: block;
		}	
	}
}

#mapAddress {
	height: 30px;
}

#geocodingBtn, #geolocationBtn, .seeMap, .seeRoute {
	@extend %primaryButton;
	height: 30px;
	padding: 0 5px;
	border: none;
	display: inline-block;
	vertical-align: middle;
	cursor: pointer;
}

.seeRoute:before {
	content: "\e910";
	font-family: 'icomoon';
	display: inline-block;
}

.backButton {
	width: 100%;
    display: block;
    background: #6f7693;
    line-height: 30px;
    color: #fff;
    padding: 5px 10px;
    &:before {
    	content: "\e901";
    	font-family: 'icomoon';
		display: inline-block;
		vertical-align: middle;
		transform: rotate(180deg);
		margin-right: 10px;
    }
}

#geolocationBtn:before {
	content: "\e912";
	font-family: 'icomoon';
	display: inline-block;
	vertical-align: middle;
}

.btnCall, .sendEmail {
	@extend %secondaryButton;
	margin: 10px 0;
	display: inline-block;
	vertical-align: middle;
	padding: 5px;
}


/*atendimento*/
.contact{
	margin-bottom: 10px;
	padding: 0 22px;
	a{
	    background: $color5;
	    color: $white;
	    font: rem(17px) $font1;
	    text-transform: uppercase;
	    padding: 13px;
	    text-align: center;
	    display: block;
	    font-weight: 300;
	    border-radius: 3px;
		text-transform: none;

		i, .contactInfo{
			display: inline-block;
			vertical-align: middle;
		}

		i{
			margin-right: 10px;
			font-size: rem(20px);
		}
	}

	.tel{
		font-size: rem(18px);	
	}

	small{
		font-size: rem(10px);
		display: block;
	}
}